@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin:0;
    font-family: 'Roboto Slab', monospace;
}
body{
    min-height: 100vh;
    background: linear-gradient(crimson,#930f29);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate{
    animation: rotate 10s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
.rotater{
    rotate: 15deg;
    animation: rotater 10s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
@keyframes rotate {
    0%{
        rotate:0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes rotater {
    0%{
        rotate:0deg;
    }
    50%{
        rotate: -180deg;
    }
    100%{
        rotate: -360deg;
    }
}
.container-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    background-color:whitesmoke;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px black;
    max-width: 250px;
    width: 100%;
    gap:1rem;
    overflow:hidden;
}
.container h1{
    text-align: center;
}
.container figure{
    border-radius: 4px;
    aspect-ratio: 1/1;
    width: 100%;
}
@keyframes bounce {
    0%{
        scale: 1 1;
    }
    25%{
        scale: 0.98 1.02;
    }
    50%{
        scale: 1 1;
    }
    75%{
        scale: 1.02 0.98;
    }
    100%{
        scale: 1 1;
    }
}
.container figure img{
    transform-origin: 50% 100%;
    width: 100%;
    animation: bounce 1s linear infinite;
    height: 100%;
    border-radius: 25%;
    box-shadow: 0 0 5px black;
}
.link{
    background: linear-gradient(135deg, crimson,#930f29);
    padding: 10px;
    border-radius: 1.5rem;
    color:whitesmoke;
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(0px);
    transition: box-shadow 0.25s ease-out,
                transform 0.25s ease-out;
}
.link:hover, .link:focus{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    transform: translateY(2px);
}